## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
x=8
print(x)

8

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [14]:
print ( 'el tipo de dato que es x es', type(x))

el tipo de dato que es x es <class 'int'>

4) Crear una variable que contenga tu nombre

In [7]:
nombre = 'Harold'

5) Crear una variable que contenga un número complejo

In [6]:
complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
valor1 = 'True'
valor2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [13]:
print('el valor1 es de tipo ',  type(valor1),  'el valor2 es de tipo ',  type(valor2) )

el valor1 es de tipo  <class 'str'> el valor2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
suma = 8 + 2.5

11) Realizar una operación de suma de números complejos

In [16]:
a = 1+3j
b = 3+3j
print(a+b)

(4+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [18]:
c = a + 1.1
print(c)

(2.1+3j)

13) Realizar una operación de multiplicación

In [19]:
print(2*6)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
d = 27/4
print(d)

6.75

16) De la división anterior solamente mostrar la parte entera

In [25]:
e = 27//4
print (e)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [26]:
f = 27%4
print(f)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [27]:
g= e*4+f
print(g)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [30]:
h = 'Hola '
i = 'Mundo '
print(h +i)

Hola Mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [32]:
print(2=='2')

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [34]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [38]:
j = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [40]:
k = 3
k-=1
print(k)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [42]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [43]:
2+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
float(2)+float('2')

4.0

In [44]:
int(2)+int('2')

4

In [45]:
str(2)+str('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [47]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces